Source: ros-humble-autoware-string-stamped-rviz-plugin
Section: misc
Priority: optional
Maintainer: Takayuki Murooka <takayuki.murooka@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-index-cpp, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake, ros-humble-autoware-internal-debug-msgs, ros-humble-autoware-lint-common <!nocheck>, ros-humble-rviz-2d-overlay-msgs, ros-humble-rviz-2d-overlay-plugins, ros-humble-rviz-common, ros-humble-rviz-ogre-vendor, ros-humble-rviz-rendering, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-string-stamped-rviz-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-ament-index-cpp, ros-humble-autoware-internal-debug-msgs, ros-humble-rviz-2d-overlay-msgs, ros-humble-rviz-2d-overlay-plugins, ros-humble-rviz-common, ros-humble-rviz-ogre-vendor, ros-humble-rviz-rendering, ros-humble-ros-workspace
Description: RViz2 plugin for displaying string stamped messages as 2D overlays in the 3D view.
 Inspired by the JSK overlay plugin. (https://github.com/jsk-ros-pkg/jsk_visualization))
